{% extends "base.html" %}

{% block content %}

<h1>Autotip Chrome Extension Usage</h1>

<h2>For tippers</h2>

<ol>
    <li>Go to the chrome Web store, and search for Autotip. Install the extension.</li>
    <li>Refresh any page with the autotip meta tag embedded (autotip.ioisone example)</li>
    <li>You should see a little "a" icon in your browser's address bar. Clck that icon.
        A popup should appear. You may also see a notification telling you your auotip
        balance is zero. This is true, since you haven't deposit any bicoin to the extension yet.</li>
    <li>Inside that popup you will see a QR code. That QR code is your deposit address.
        You must send some bitcoin to that address.</li>
    <li>Another way to see your deposit address is to go to the options page from the
        <a href="chrome://extensions" target="_blank">chrome://extensions</a> page.</li>
    <li>From now on you'll tip $0.05 worth of bitcoin for each page that you land on with
        the autotip meta tags embedded. If you feel like $0.05 is too much, you can change that value
        in the options page. You can also configure it to send automatically, or only from the
        popup.</li>
</ol>

<h2>For Content Creators</h2>

coming soon

{% endblock %}
