{% extends "base.html" %}

{% block content %}
<h1>Autotip Giveaway Information</h1>

<h2>Why?</h2>
To give users an incentive to give support to the creators of the content they consume on the web.

<h2>How are winners selected?</h2>
Each day your extension makes three tips, the extension is programmed to enter your
deposit address into a drawling done each week.

<h2>Does this mean Autotip is centralized?</h2>
Just the giveaway is centralized. The rest of the extension works without the need for a centralized
service. The giveaway is completely optional.

<h2>Who can participate?</h2>
Any user of Autotip. The giveaway is not even only limited to people who use Autotip.
Any other microtip client can send their user's deposit address into the givaway.
The winner selection process is basd on activity takes from the blockchain.
Whichever application created the trasaction does not matter.
If you are the developer of an Autotip-like microtip application and would like to
integrate the Autotip Giveaway Program to your application, get in contact with the developers for
more information.

<h2>Where does the money come from?</h2>
The money comes from donations to the autotip project.

<h2>Can I contribute to the giveaway fund?</h2>
Yes. Anyone can donate. The address is 1K65TijR56S4CcwjXBnecYEKmTNrMag5uq.

<h2>Can I make a profit from using Autotip?</h2>
The giveaway program is intende to offset the cost of using Autotip.
Some lucky users may end up making a profit from givaway payouts,
but most will make very little profit or no profit at all.
The design of Autotip is for the profit to to to the creators of content on the web.

<h2>When are payouts?</h2>
Payouts are every Friday.

<h2>Can I see the code that determines who gets payouts?</h2>

Yes you can. Its on <a href="https://github.com/priestc/autotip.io/blob/master/autotip_io/autotip_io/giveaway.py#L6">github</a>.

{% endblock %}
