{% extends "base.html" %}

{% block extrahead %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}home.css" media="screen" />
<link href="{{ STATIC_URL }}jquery.zrssfeed.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}jquery.zrssfeed.min.js"></script>
{% endblock %}

{% block content %}
    <h2>Introduction</h2>
    <p>Autotip is a Chrome Browser extension that tips very small amounts of bitcoin
    to the creators of websites you visit.</p>

    <p>It is an alternate way of monetizing content that dooes not require placing advertisments onto webpages.</p>

    <h2>Official Autotip News Items</h2>

    {% for blog in latest_blogs %}
    <div class="blog_entry">
        <h3><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>

        <em>{{ blog.date_created }}, by {{ blog.author }}</em>
        <br><br>
        {{ blog.content|safe }}
        <br><br>
        <a href="{{ blog.get_absolute_url }}#disqus_thread" data-disqus-identifier="autotip-blog-{{ blog.pk }}">Loading Comments...</a>
    </div>
    {% endfor %}

    <h2>Autotip in the news</h2>
    <strong>Courtesy Google News RSS Feeds</strong>
    <div id="feeds">
    </div>

    <script>
        var feed_url = "https://news.google.com/news?q=autotip+bitcoin&output=rss";
	    $('#feeds').rssfeed(feed_url, {linktarget: '_blank'});
    </script>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'autotip'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
{% endblock %}
