{% extends "base.html" %}

{% block content %}
    <style>
        .blog_entry {
            width: 40em;
            margin: 10px auto 0 auto;
            border: 1px solid gray;
            padding: 10px;
            background: #f9f9f9;
        }
    </style>
    <h2>Introduction</h2>
    <p>Autotip is a Chrome Browser extension that tips very small amounts of bitcoin
    to the creators of websites you visit.</p>

    <p>It is an alternate way of monetizing content that dooes not require placing advertisments onto webpages.</p>

    <h2>Latest News</h2>

    {% for blog in latest_blogs %}
    <div class="blog_entry">
        <h3>{{ blog.title }}</h3>
        <em>{{ blog.date_created }}, by {{ blog.author }}</em>
        {{ blog.content|safe }}
    </div>
    {% endfor %}
{% endblock %}
